<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/phpunit/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnRisky="false"
         failOnWarning="false"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true">
    <testsuites>
        <testsuite name="Cast">
            <directory suffix="Test.php">tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Stubs</directory>
            <directory>src/Views</directory>
        </exclude>
    </source>
</phpunit>
